*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: block;
    margin: auto;
    background: linear-gradient(rgb(232, 133, 245),rgb(228, 223, 223)),#f094dc;
}

.nav-1{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1a;
}

.head-link{
    list-style: none;
    display: flex;
}

.ls-1 a{
    color: #ffffff;
    opacity: 0.4;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0 20px;
    font-size: 20px;
}
.ls-1 a:hover, ls.active a{
    opacity: 1;
    color: purple;
}

#abt-sect{
    font-size: 30px;
    margin-top: 5%;
    padding-left: 5%;
}
#abt-sect img{
    width: 300px;
    height: 300px;
}