*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    width: 100%;
    display: block;
    margin: auto;
    background: linear-gradient(rgb(232, 133, 245),rgb(228, 223, 223)),#f094dc;
}
.nav-1{
    top: 0;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-1>ul{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}
.nav-1>ul>li{
    list-style: none;
    margin-right: 30px;
    font-size: x-large;
    color: #0E1658;
    font-weight: 545;
}
#abt-sect{
    font-size: 30px;
    margin-top: 5%;
    padding-left: 5%;
}
#abt-sect img{
    height: 500px;
    font-size: 20px;
    padding-left: 10%;
    margin-top: 5%;
}
#main-sect{
    display: flex;
    flex-direction: row;
}
.main{
    display: flex;
    flex-direction: row;
}
.main>div{
    margin: 4%;
}
.lang-sect>ul{
    list-style: none;
}
.lang-sect>ul>li{
    margin: 2%;
}
.content-1 p{
    margin: 2%;
}
#main-sect #skills{
    padding-left: 10%;
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
    width: 50%;
    background: #ffffff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: fit-content;
}
#main-sect>#interests{
padding-left: 10%;
padding-top: 2%;
padding-right: 5%;
padding-bottom: 2%;
margin-left: 5%;
font-size: 20px;
margin-top: 5%;
width: 50%;
background: #ffffff;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
width: fit-content;}
#main-sect p{
    font-size: 30px;
    margin-bottom: 2%;
}
form{
    background: #ffffff;
    width: fit-content;
    height: max-content;
    padding: 4%;
    color: black;
    font-size: 30px;
    margin-top: 2%;
    border-radius: 30px;
}
form input{
    font-size: 20px;
    margin-top: 2%;
}
.btn-1{
    width: 200px;
    height: 50px;
    background-color: #000000;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
}
footer{
    margin-top: 5%;
    background-color: black;
    padding-left: 5%;
    padding-top: 5%;
    color: white;
    justify-content: center;
}
form textarea{
    margin-top: 2%;
}
.foot-link{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
}
.foot-link>ul{
display:flex;
flex-direction: row;
padding-right: 10px;}
.foot-link>ul>li{
    list-style: none;
    margin-right: 30px;
    font-size: x-large;
    color: white;
    font-weight: 545;
}
footer p{
    margin-top: 2%;
    font-size: 20px;
    height: 30vh;
}