*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: block;
    margin: auto;
    background: linear-gradient(rgb(232, 133, 245),rgb(228, 223, 223)),#f094dc;
}

.nav-1{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
}

.head-link{
    list-style: none;
    display: flex;
}

.ls-1 a{
    color: #ffffff;
    opacity: 0.4;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0 20px;
    font-size: 20px;
}
.ls-1 a:hover, ls.active a{
    opacity: 1;
    color: purple;
}

#abt-sect{
    font-size: 30px;
    margin-top: 5%;
    padding-left: 5%;
}
#abt-sect img{
    height: 300px;
    font-size: 20px;
    padding-left: 10%;
    margin-top: 5%;
}
#main-sect{
    display: flex;
    flex-direction: row;
   
}
#main-sect #skills{
    padding-left: 10%;
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
    width: 50%;
    background: #ffffff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: fit-content;

}
#main-sect #interests{
padding-left: 10%;
padding-top: 2%;
padding-right: 5%;
padding-bottom: 2%;
margin-left: 5%;
font-size: 20px;
margin-top: 5%;
width: 50%;
background: #ffffff;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
width: fit-content;}
footer{
    margin-top: 10%;
    background-color: #f094dc;
    padding-left: 5%;
}
.foot-link{
    list-style: none;
    display: flex;
}
footer p{
    margin-top: 2%;
    font-size: 20px;
}